[user]
	name = Fotis Koutoulakis
	email = fotis.koutoulakis@gmail.com

[core]
	pager = delta
	autocrlf = false
	longpaths = true

[delta]
	navigate = true 	# use n and N to move between diff sections

[merge]
	conflictstyle = diff3

# Substitute https:// clone with git:// clone.
[url "git@github.com:"]
	insteadOf = "https://github.com/"

[help]
	autocorrect = prompt

# Diff configuration using semantic diffing with difftastic.
[diff]
	algorithm = histogram
	tool = difftastic
	colorMoved = default

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[alias]
	difft = difftool
	# `git dlog` to show `git log -p` with difftastic.
	dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"

[includeIf "gitdir:~/Devel/GitHub/"]
    path = "~/macOS-dotfiles/work/.gitconfig.github"

[includeIf "gitdir:~/Devel/Microsoft/"]
	path = "~/macOS-dotfiles/work/.gitconfig.msft"

# LFS config

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
